; vim: set fileencoding=utf-8 :
; author: David Yambay <yambayda@gmail.com>
; date:   Tue Apr 21 15:23 2014

; This is the configuration file for buildout.

[buildout]
parts = scripts
develop = .
eggs = xbob.fp.minutiae_recognition
newest = false

[scripts]
recipe = xbob.buildout:scripts
